.main-header {
  position: fixed;
  top: 8;
  left: 0;
  z-index: 0;
  height: 100%;
  width: calc(100% - 110px);
  -webkit-transform: translateX(calc(-100% + 80px));
          transform: translateX(calc(-100% + 80px));
}
.main-header .main-logo + p {
  font: 400 14px/80px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
  position: absolute;
  bottom: 5%;
  right: 30px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  z-index: 3;
}
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
}
#image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, 50%);
}
#desc {
  position: absolute;
  top: 25%;
  left: 55%;
  color: grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  width: 150px;
}
li {
  float: left;
  margin: 0;
  padding: 0;
}       
li a {
  display: block;
  color: black;
  padding: 8px 14px;
  text-decoration: none;
}
li a.active {
  background-color: green;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}