.main-header {
  position: fixed;
  top: 8;
  left: 0;
  z-index: 0;
  height: 100%;
  width: calc(100% - 110px);
  -webkit-transform: translateX(calc(-100% + 80px));
          transform: translateX(calc(-100% + 80px));
}
.main-header .main-logo + p {
  font: 400 14px/80px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
  position: absolute;
  bottom: 5%;
  right: 30px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  z-index: 3;
}
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
}
#image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, 50%);
}
#desc {
  position: absolute;
  top: 25%;
  left: 55%;
  color: grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  width: 150px;
}
li {
  float: left;
  margin: 0;
  padding: 0;
}       
li a {
  display: block;
  color: black;
  padding: 8px 14px;
  text-decoration: none;
}
li a.active {
  background-color: green;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
li .dropdown {
  display:inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 80px;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#topnav ul ul {
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 170px;
 padding: 5px;
 border-bottom: 1px solid black; 
}
#topnav ul ul a {
  width: 140px;
}
#topnav ul ul li {
  display: inline-block;
  position: relative;
}